.classpath
.project
.cproject
.settings/
bin/
build/
*.jar
*.applet
*.db
dist/*.html
doxygen/generated
*.map
*.pdf
*.doc
*.zip
*.tar.gz
*.rar
src/R/
websites/homepage/apps
*.csvr
*.Rdata
*.exe
*.Rout
pbad.txt
psnp.txt
websites/homepage/images/R/
websites/homepage/r/
websites/homepage/small_annot.txt
websites/homepage/wow-factor.txt
database/
generated/
libs/
websites/homepage/dist/write/*
cmake/CMakeFiles/
cmake/Makefile
cmake/CMakeCache.txt
cmake/cmake_install.cmake
nbbuild/
nbproject/
build.xml