.classpath
.project
.cproject
.settings/
bin/
build/
*.jar
*.applet
*.db
dist/*.html
doxygen/generated
*.map
*.pdf
*.doc
*.exe
database/
generated/
websites/homepage/dist/write/*
cmake/CMakeFiles/
cmake/Makefile
cmake/CMakeCache.txt
cmake/cmake_install.cmake