body{
margin:0px 0px;
background-color: white;
font-family: "trebuchet MS";
font-size:11px;
}

div{
margin:0px 0px;
background-color: black;
font-family: "trebuchet MS";
font-size:11px;
}

input{
margin:0px 0px;
font-family: "trebuchet MS";
font-size:11px;
}

textarea{
margin:0px 0px;
font-family: "trebuchet MS";
font-size:11px;
}

q{
font-family: "Courier New";
font-size:12px;
}

.slideshow{
margin:20px 40px;
background-color: white;
}

.whitebg{
margin:20px 40px;
background-color: white;
}

h1{
font-size:22px;
color: black;
margin:10px 10px;
}

h2{
font-size:19px;
color: black;
margin:10px 10px;
}

h3{
font-size:15px;
color: black;
margin:10px 10px;
}

table {
color: black;
border:0px;
margin:0px 0px 0px 0px;		
text-align:left;
}

th{
font-size:14px;
color: black;
}

td {
font-size:13px;
}

a:link{
color:black;
}

a:hover{
color:teal;
text-decoration:none;	
}

a:active{
color:black;
text-decoration:none;
}

a:visited{
color:black;
text-decoration:none;
}
