body{
margin:0px 0px;
background-color: white;
font-family: "trebuchet MS";
font-size:13px;
}

div{
margin:0px 0px;
background-color: white;
font-family: "trebuchet MS";
font-size:13px;
}

input{
margin:0px 0px;
font-family: "trebuchet MS";
font-size:13px;
}

textarea{
margin:0px 0px;
font-family: "trebuchet MS";
font-size:13px;
}

q{
font-family: "Courier New";
font-size:13px;
}

.slideshow{
margin:20px 40px;
background-color: white;
}

.whitebg{
margin:20px 40px;
background-color: white;
}

.white{
background-color: white;
}

h1{
font-size:22px;
color: black;
margin:10px 10px;
}

h2{
font-size:19px;
color: black;
margin:10px 10px;
}

h3{
font-size:15px;
color: black;
margin:10px 10px;
}

table {
color: black;
border:0px;
margin:0px 0px 0px 0px;		
text-align:left;
}

th{
font-size:14px;
color: black;
}

td {
font-size:13px;
}

a:link{
color:black;
}

a:hover{
color:teal;
}

a:active{
color:black;
}

a:visited{
color:black;
}

div#menu {
	float: left;
	width: 200px;
}

#menu a {
	color: black;
	text-transform: capitalize;
	padding-left: 5px;
}

#menu a:hover {
	padding-left: 7px;
	text-decoration: none;
}

#content h1 {
	font-size: 15px;
	border-bottom: 1px solid silver;
	margin-bottom: 5px;
	padding: 0px;
	letter-spacing: 2px;
}

#content a {
	color: black;
	font-weight: bold;
}

div#footer {
	clear: both;
	text-align: center;
	font-size: 10px;
	color: #666666;
	padding-top: 15px;
	letter-spacing: 2px;
}

#footer a {
	color: black;
	text-decoration: none;
	letter-spacing: -1px;
}

.code {
	border: 1px solid silver;
	background-color: #F1F1F1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 13px;
	padding: 2px;
	margin: 2px;
	line-height: 5px;
	height: 200px;
	overflow: scroll;
	background-color: white;
}

.quote {
	border: 1px solid silver;
	padding: 2px;
	margin: 2px;
	background-color: white;
}
